*.bak
*.0
*.1
*.prj
*.pui
*.demosource/conf/*.0
conf/*.demo
conf.php
conf.ini
*.cap
.xml
ftp_tmp/*.zip
web_test.php
menu/refugees_menu.lib.php
css/old/*.old
/plugin/Beispiel_Plugin
output/*.cap
output/*.xml
